extends layout
block content
   h1 User management
   a(href='/') Home
   if(info!=null)
      h2 #{info}
   p Username
   each user in users
      div(class='user')
         p #{user.username}
         a(href='/admin/edit/'+user._id) Edit
         a(href='/admin/delete/'+user._id) Delete