extends layout
block content
    .container
        h1 Control Center
        button.btn.btn-default(onclick="left()", value="Left", class="button") Left
        button.btn.btn-default(onclick="forward()", value="Forward", class="button") Forward
        button.btn.btn-default(onclick="right()", value="Right", class="button") Right
        button.btn.btn-default(onclick="stop()", value="Stop", class="button") Stop
    script(src='/javascripts/jquery-1.11.2.min.js')
    script(src='/javascripts/ajax.js')