extends layout
block content
    if(user)
        .container
            p You are currently logged in as #{user.username}
            button(onclick="forward()", value="Forward", class="button") Forward
            button(onclick="left()", value="Left", class="button") Left
            button(onclick="right()", value="Right", class="button") Right
            button(onclick="stop()", value="Stop", class="button") Stop

            a(href="/logout") Logout
    if(!user)
        .container
        a(href="/login") Login
        a(href="/register") Register

    script(src='/javascripts/jquery-1.11.2.min.js')
    script(src='/javascripts/ajax.js')