extends layout
block content
   form(method='post' action='/admin/edit')
      div(class="edit")
         .form-group
            label(for='username') Username
            input.form-control(type='text', value=EditUser.username, id='username', name='username')
         .form-group
            label(for='admin') Administrator
            input.form-control(type='checkbox', checked=EditUser.admin, id='admin' name='admin')
         input(type='hidden', value=EditUser._id, name="id", id="id")
         input.btn.btn-default(type='submit', id='submit', value='Update')